#pirmas {
border: 12px solid rgb(78, 75, 238);
box-shadow: 5px 5px 15px black;
}

#antras{
padding: 5em;
border-radius: 150px;
box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

#trecias {
    padding-top: 5em;
    padding-bottom: 5em;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 10px solid  rgb(78, 75, 238);
    border-right: 15px dashed rgb(78, 75, 238);
}

#ketvirtas {
    padding-top: 0;
    padding-bottom: 1em;
    padding-left: 5em;
    padding-right: 5em;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 50px;
}

#penktas {
    padding-top: 0;
    padding-bottom: 5em;
    padding-left: 0;
    padding-right: 0;
    border-left: 10px dashed rgb(78, 75, 238);
}

body {
    background-color: bisque;
}

div {
    background-color: rgb(179, 106, 246);
    max-width: 80%;
    margin-top: 5em;
    margin-bottom: 5em;
    margin-left: auto;
    margin-right: auto;
}

#penktas > ul li {
    display: inline;

}

#sestas {
    background-color: rgb(93, 93, 217);
    padding: 30px;
    
}

#sestas form input {
    display: block;
}

