body {
    background-color: yellow;
}

.yelow_background {
    background-color: yellow;

}

.orange_background {
    background-color: orange;
}

.red_text {
    color: red;
}

.green_text {
    color: green;
}

.opacity {
    opacity: 0.5;
}

.opacity {
    opacity: 0.5;
}