#pirmas_paragrafas {
    font-size: 1.5em;
    font-style: italic;
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    font-weight: 300;
    text-decoration: none;
}

table {
    text-align: center;
    font-size: 1.8em;
}

li {
    text-transform: lowercase;
}

