body {  
background: #E2E1E1;
margin: 0;
display: flex;
height: 100%;
flex-direction: column;


}

#container {
    position: relative;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

  
    
}

.div1 {

position: relative;
width: 100%;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 22px;
text-transform: uppercase;
text-align: center;
letter-spacing: 0.2px;
color: #959393;
margin-bottom: -15px;
height: auto;
margin-top: auto;
}

.div2 {

position: relative;
width: 100%;
height: auto;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 128px;
line-height: 100%;
text-align: center;
margin-bottom: 50px;

color: #121212;


}

.div3 {


position: relative;
width: 100%;
height: 22px;
height: auto;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 22px;
text-align: center;
letter-spacing: 0.2px;
margin-bottom: auto;
color: #373636;



}

#divwraper {
    height: 100vh;
    
    margin: auto;
    position: relative;
    padding: 10px;
    align-content: center;
    
}

.div2 > svg {
    position: absolute;
    bottom: 0;
    right: 0px;
    rotate: 25deg;
}
